<section class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text text-center">Vous nous quittez! Restez connecté à nos services internationnaux! <br> De
                    belles surprises!</h1>
                    <button routerLink="/login" class="btn btn-warning" style="width: 150px; position: absolute; top: 80%; text-align: center; justify-content: center; right: 50%;">Se connecter ici</button>
            </div>
            
        </div>
    </div>
</section>



<h1 class="text text-center text-fluid fw-bold fs-1">Vos Options internationales</h1>

<section class="service">
    <div class=" cardis col-4">
        <div class="card border-primary rounded card-center" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title text-primary fw-bold">Opportunités internationales d'emploi dans la santé</h5>
                        <p class="card-text">Decouvrez Une panoplie d'emplois pms à l'international. Des opportunités
                            d'emploi pouvant vois guarantir un emploi et une carrière partout dans le monde depuis votre salon. Postulez aux USA, en france, au canada!</p>
                        <button class="btn btn-outline-primary">découvrir</button><i
                            class="bi bi-arrow-right-circle"></i>
                        <p class="card-text"><small class=" badge text-bg-primary">Acces Basic</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687844886/website%20assets/nareeta-martin--2sHiosD-CU-unsplash_ad3biu.jpg"
                        class="img-fluid rounded" style="width: 100%; height: 311px;" alt="multi paneaux">
                </div>
            </div>
        </div>
    </div>
    <div class="cardis col-4">
        <div class="card border-success rounded card-center" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title text-danger fw-bold">Procédures d'exercice et de pratique internationales</h5>
                        <p class="card-text text-justify">Decouvrez toutes les procédure d'exercice et de pratique des soins dans les pays les plus offrant en terme d'emploi santé dans le monde. Des procédures incontournablrd rendue facile par notre accompagnement</p>
                        <button class="btn btn-outline-warning">découvrir</button><i
                            class="bi bi-arrow-right-circle"></i>
                       <p class="card-text"><small class=" badge text-bg-success">Acces Medium</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687839934/website%20assets/pexels-rfstudio-3811082_oadele.jpg"
                        class="img-fluid rounded" style="width: 100%; height: 100%;" alt="uniplash">
                </div>
            </div>
        </div>
    </div>
    <div class="cardis col-4">
        <div class="card rounded card-center" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold">Procédure d'immigration rapide et simple.</h5>
                        <p class="card-text">Bénéficiez d'un accompagnement sur mesure et regulier dans votre projet d'immigration. NOs équipes vous donnent les voies et moyens necessaire à votre immigration sans perte d'argent, de temps et d'énergie. </p>
                        <button class="btn btn-outline-success">découvrir</button><i
                            class="bi bi-arrow-right-circle"></i>
                        <p class="card-text"><small class=" badge text-bg-danger">Acces Advanced</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687844885/website%20assets/charanjeet-dhiman-mHusyBu4bxM-unsplash_iy0mov.jpg"
                        class="img-fluid rounded" style="width: 100%; height: 100%;" alt="call center">
                </div>
            </div>
        </div>
    </div>


</section>



<h1 class="text text-center text-primary fw-bold fs-1">Reconversion professionelles</h1>

<section class="service">
    <div class=" cardis col-4">
        <div class="card  rounded card-center" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title text-primary fw-bold">Devenez Engenieur DevOps </h5>
                        <p class="card-text">En tant que DevOps Professional, vous saurez comment créer et compiler à l'aide des IDEs particulier utilisé par le développeur, de sorte que si quelque chose se produit, vous devriez au moins connaître le processus de génération et de compilation pour déployer l'application/le produit plus rapidement.</p>
                        <button class="btn btn-success">découvrir</button><i
                            class="bi bi-arrow-right-circle"></i>
                            <p class="card-text"><small class=" badge text-bg-warning">Acces Premium</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687848810/website%20assets/growtika-PYyPeCHonnc-unsplash_rruobq.jpg"
                        class="img-fluid rounded" style="width: 100%; height: 100%;" alt="devOps">
                </div>
            </div>
        </div>
    </div>
    <div class="cardis col-4">
        <div class="card rounded card-center" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title text-danger fw-bold">Apprenez le Cloud avec des experts</h5>
                        <p class="card-text text-justify">Devenez ingénieur Cloud Computing en seulement 06 mois avec des experts. Un programme taillé sur mesure pour vous a^pporter des connaissance essentielles pour vous permettre de vous integre facilement et avec brio dans le monde la l'emploi digital.</p>
                        <button class="btn btn-outline-danger">découvrir</button><i
                            class="bi bi-arrow-right-circle"></i>
                            <p class="card-text"><small class=" badge text-bg-warning">Acces Premium</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687849675/website%20assets/alex-machado-80sv993lUKI-unsplash_bd0ux9.jpg"
                        class="img-fluid rounded" style="width: 100%; height: 100%;" alt="nuage">
                </div>
            </div>
        </div>
    </div>
    <div class="cardis col-4">
        <div class="card rounded card-center" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title text-warning fw-bold">Apprenez le Design sous toutes ces formes.</h5>
                        <p class="card-text">Ce programme vous permettra de maitriser le design et le design web. Vous serez ainsi capable de manipuler comme des pro les outils ADOBE, les motages video et même devenir un professionel audiovisuel (youtube video maker, web master etc..). Maitrisez aussi Figma et plein d'autres outils</p>
                        <button class="btn btn-outline-secondary">découvrir</button><i
                            class="bi bi-arrow-right-circle"></i>
                        <p class="card-text"><small class=" badge text-bg-dark">Acces Premium</small></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687851551/website%20assets/emily-bernal-v9vII5gV8Lw-unsplash_fp3u6g.jpg"
                        class="img-fluid rounded" style="width: 100%; height: 100%;" alt="adobe">
                </div>
            </div>
        </div>
    </div>


</section>