<div class="header">
    <div class="row">
        <h1>Engagés Sur la voie de la valorisation du PMS <br>Camerounais un service sur mesure</h1>
        <div class="col-md-4">

        </div>
        <div class="header-text col-md-4">
            <h3>Avantages</h3>

            <ul>
                <li>Rationaliser les processus de création d'emploi</li>
                <li>Integration de la digitalisation comme moyen de mise à disposition des emplois</li>
                <li>Transformer les formations en action d'emplois serieux</li>
                <li>créer de veritable ouverture vers le monde</li>
            </ul>

        </div>
        <div class="header-text1 col-md-4">
            <h3>notre accompagnement</h3>
            <ul>
                <li>Rationaliser les processus de création d'emploi</li>
                <li>Integrer l'intelligence dans la modernisation de l'emploi et des opportunités PMS</li>
                <li>susciter l'innovation dans chaque processus d'amelioration de la santé et des promoteurs de la santé
                </li>
                <li>Faire évoluer les mentalités en créant un veritable pont entre les professionels du soins et les
                    structures de soin</li>
            </ul>

        </div>
    </div>
</div>

<div class="section-visualisation" style="background-color: #fbf7f7;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h1 style="margin-top: 20px; font-size: 3.5rem;">Nous augmentons le succes de votre carrière par des solutions digitales de pointe.</h1>
            <p class="text text-fluid">
                La synergie d'actoion visant à créer un veritable pont entre les jeune étudiants, les professionels PMS
                et
                les structures de soins est le moteur de notre ambition. <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eveniet repellendus odio.
                Laudantium,
                nobis magni aut vero libero ipsa aspernatur rem aperiam delectus, inventore dolor molestias quia aliquam
                omnis culpa? Reprehenderit quo consequuntur, adipisci debitis vero illo beatae voluptates blanditiis qui
                sit
                numquam totam odit, inventore placeat quia recusandae non aperiam! Voluptates aperiam provident placeat
                magnam commodi officiis,

            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class=" container-circle d-flex col-md-6" style="height: 250px; background-color: #fff; margin-bottom: 20px;">
            <div class="circle"><img src="https://res.cloudinary.com/dtdpx59sc/image/upload/c_scale,w_105/v1687939900/computer-icons-money-finance-currency-symbol-png-favpng-xT2Z0cNfGR5Dyk5z54DWVB4wi_wmrpok.jpg" alt="don argent symbole">
            <h2>Visualisez-le</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</p>
            </div>
            <div class="circle"><img src="https://res.cloudinary.com/dtdpx59sc/image/upload/c_scale,h_105,w_106/v1687939899/finance_sj6llz.jpg" alt="croissance financière">
                <h2>Créez-le</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</p>
            </div>

            <div class="circle"><img src="https://res.cloudinary.com/dtdpx59sc/image/upload/c_scale,h_105,w_105/v1678493567/mercedes_travel_vyqofl.jpg" alt="voyage">
                <h2>Cultivez-le</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>



</div>