.example-spacer {
    flex: 1 1 auto;
  }
  
  nav a{
    color: #4b07e9;
    text-decoration: none;
    padding: 7px 12px;
    display: inline-block;
    font-weight: 700;
}

nav a:hover{
    color: gold;
    background-color: rgb(253, 9, 212);
    font-weight: bold;
}