body{
    margin:0;
    padding: 0;
    font-family: nunito sans, sans-serif;
    display: flex;
    background: linear-gradient(rgb(232, 241, 236), rgb(193, 184, 241));
    justify-content: center;
    align-items: center;
    height: 100vh;  
    z-index: 0;
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 45px;
    z-index: 3;
}
.blob{
    z-index: -1;
    position: relative;
    background: linear-gradient(red, purple);
    height: 500px;
    width: 500px;
    border-radius: 30% 70% 70% 30% / 30% 28% 72% 70%;
    transform: translate(250px, 80%) rotate(60deg);
    animation: blob 20s infinite alternate;
    transition: 1s cubic-bezier(0.215, 0.16, 0.355, 1); 
    
}

.blob:hover{
    filter: blur(30px);
    height: 560px;
    width: 560px;
    box-shadow: inset 100px 100px white, inset 200px 200px purple, inset 300px 300px red;
   
}
.blob h1, P {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: var(--white);
    font-size: 2rem;
    align-items: center;
    position: relative;
    top: 40%;
}

.container span{
    z-index: 2;
    position: absolute;
    left: 53px;
    width: 20px;
    height: 10px;
    border-radius: 8px;
    background: var(--fc);
    transform: scale(2) rotate(calc((360deg/50) * var(--i)));
    transform-origin: 150px;
    animation: loading 3s linear infinite alternate;
    animation-delay: calc((3s / 50) * var(--i));
}
@keyframes loading{
    0% {
        background: var(--ponk);
    }
    25%{
        background: var(--lg);
    }
    50%{
        background: var(--fc);
    }
}

.form-container{
    width: 400px;
    position: absolute;
}


.form-container h1{
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-block-end: 32px;
}

.form-container .form-group{
    margin-block-end: 32px;
    position: relative;
}
.form-group input{
    padding: 16px 8px;
    width: 100%;
    height: 48px;
    background-color:transparent ;
    border: 2px solid var(--fc);
    border-radius: 50px;
    color: var(--lg);
    outline: none;
    font-size: 16px;
    font-weight: 900;
    transition: .3s ease-in-out;
}

.form-group input:focus,
.form-group input:valid{
    border-color: var(--lg);
}

.form-group label{
    position: absolute;
    color: var(--lg);
    top: 50%;
    left: 20px;
    padding: 0 8px;
    font-weight: 700;
    color: var(--lg);
    transform:translateY(-50%);
    pointer-events: none;

}

.form-group input:focus~label,
.form-group input:valid~label{
    top: 1px;
    color: var(--lg);
    padding: 2px 8px;
    background: var(--bg);
}
button{
    width: 100%;
    height: 48px;
    padding: 8px 16px;  
    color: var(--ponk);
    background: var(--fc);
    outline: none;
    font-weight: 700;
    font-size: 16px;
    margin-block: 20px;
    border: 0;
    border-radius: 50px;
}

button:hover{
    background-color: var(--ponk);
    color: var(--white);
}
.fgpwd,
.register{
    text-align: center;
}

.fgpwd a,
.register a{
    color: var(--fc);
    font-weight: 700;
    text-decoration: none;
}
.fgpwd a:hover,
.register a:hover{
    text-decoration: underline;
    color: var(--ponk);
}

@keyframes blob{
    15%{
        transform: translate(250px, 80%) rotate(60deg);
        border-radius: 32% 48% 55% 75% / 38% 65% 35% 72%
    }
    40%{
        transform: translate(-60%, -50%) rotate(30deg);
        border-radius: 30% 70% 23% 77% / 8% 30% 70% 92% ;
    }
    75%{
        transform: translate(0%, -100%) rotate(-120deg);
        border-radius: 42% 58% 45% 55% / 38% 55% 45% 62% ;
    }

}