.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: transparent;
    border-radius: 45px;
}
.container img{
    border-radius: 50%;
    margin-left: 300px;
}


.accordion{
    justify-content: center;
}

.team-section {
    align-items: center;
    justify-content: center;
  }
  
.team-member {
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-align: center;
    left: 40;
  }
  
  .team-member img {
    width: 400px; /* Ajustez la taille de l'image selon vos besoins */
    display: inline-flex;
    height: 400px;
    border-radius: 50%; /* Pour une forme de cercle */
    padding: 40px;
    align-items: center;
   
  }
  
  .team-member h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
   margin-left: 40%;

  }
  
  .team-member p {
    margin-top: 5px;
    font-size: 14px;
    margin-left: 30%;
  }
  