<div class="container">
    <div class="col-6">
        <h1 class="text-center text-primary display-4">
            Tout part d'une veritable volonté d'innover pour la santé Au cameroun!
        </h1>
        <p class="text-center fs-5 text-success">
            Créer une veritable synergie d'actions pour la réussite et la viabilistion des carrières Médico-sanitaires,
            Il aurait fallut le faire  et Nous l'avons implémenté!
        </p>
    </div>
    <div class="col-6">
        <img src="./assets/couer.jpg" alt="" srcset="">
    </div>
</div>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <h1>Le Désir</h1>

            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body fs-3 text-center">
                <strong>La Source même de nos ambitions.</strong> Dans un monde en constante mutation, où la santé est
                d'une importance primordiale, émerge un désir profond d'innover. Ce désir trouve sa source dans la
                volonté de repousser les frontières du savoir médical, de prévenir les maladies et d'améliorer la
                qualité de vie des individus. Les innovateurs en santé sont animés par une passion inébranlable, une
                curiosité insatiable et une volonté de faire face aux défis mondiaux de la santé. Ils repensent les
                approches conventionnelles, explorent de nouvelles avenues et créent des solutions novatrices pour
                répondre aux besoins de la société. Dans cette poursuite de l'excellence, l'innovation en santé
                transcende les laboratoires et les salles d'opération, englobant également la transformation des
                systèmes de santé et l'autonomisation des patients. Le désir d'innover dans la santé est une force
                motrice puissante, propulsant l'humanité vers un avenir où la santé et le bien-être sont au cœur de nos
                préoccupations.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h1>La Cible</h1>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body fs-3 text-justify" >
                <strong>La Raisons même de notre existence</strong> Alors que tous les systemes de santé mettent en
                premier le patient, ECLUB PMS a fait des artistes du soin sa priorité. <br> Nos avons étudié et detrminé
                qu'une veritable promotion de la santé devrait avant tout passer, par une gestion efficace des
                intervenants du soin au cameroun. Notre cible de choix a donc portée sur: <br>
                <ul>
                    <li><strong>les étudiants en cours de formation: </strong> Parce qu'ils sont le futur de notre
                        Santé, le véritable fer de lance de notre system de santé à venir </li>
                    <li><strong>Les Profesionnels sur le terrain: </strong> Parce qu'ils sont le present de notre Santé,
                        la véritable manche de lance de notre system de santé present </li>
                    <li><strong>les Structures de santé: </strong> Parce qu'elles sont le temple,le berceau, le
                        véritable foyer de notre system de santé. </li>
                    <li><strong>les Ordres professionnels: </strong> Parce qu'ils sont le Régulateur par excellence, les
                        véritable boussoles de notre system de santé présent et à venir </li>
                    <li><strong>les écoles de formation: </strong> Parce qu'ils sont le futur de notre Santé, le
                        feritable fer de lance de notre system de santé à venir </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h1>La Culture</h1>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body fs-3">
                <strong>Nous ne sommes pas une application, ni un articles qui a un prix</strong>. Eclub PMS, c'est
                avant tout une mentalité, une idéologie, une façon de penser qui vise l'amélioration stricte des
                conditions de vies des professionels medico-Sanitaires au cameroun et ailleurs. De ce fait, vous ne
                pouvez pas nous acheter, ni nous copier, ni nous corrompre car, nous sommes juste une idéee, une
                opérationalisation des choses, des attitudes, des conduites avec pour but final, l'optimisation de la
                qualité du soin dans notre très beau pays. <br> Lorsqu'on adhère à Eclub PMS, on adhère pas à une
                entreprise, ni à une association, On decide soit même d'épouser une idéologie d'optimisation de nos
                capacités afin de rendre la santé plus attrayante au Camroun et partout ailleurs où nos services seront
                sollicités.
            </div>
        </div>
    </div>
</div>


<section class="team-section">
    <h2 class="text-white text-center fw-900 display-3">Notre équipe</h2>
    <p class="text-primary text-center justify"><strong>Taillée dans la pièrre de l'épreuve, notre équipe est une dynamique qui ne s'arrête jamais si l'objectif n'est pas atteint!</strong> </p>
    <div class="container">
        <div class="team-member" >
            <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1666636189/diana-simumpande-xZgkFQ4Hijc-unsplash_rdxtkx.jpg"
                alt="Membre 1">
            <h3>Jepthe Nkwanmen</h3>
            <p>CEO / Web Developper</p>
        </div>

        <div class="team-member">
            <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1666636190/patricio-n2WT4H30L9k-unsplash_sofwvs.jpg"
                alt="Membre 2">
            <h3>Sunita Brawn</h3>
            <p>DTM / Marketing</p>
        </div>
        <div class="team-member">
            <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1666636187/isaiah-mcclean-DrVJk1EaPSc-unsplash_z35dkv.jpg"
                alt="Membre 3">
            <h3>Leila Marcy</h3>
            <p>Data Analyst / prospection</p>
        </div>


    </div>


    <!-- Ajoutez d'autres membres d'équipe avec la même structure -->

</section>